flowmatic-expose-workflow.json
{
  "name": "Flowmatic — Exposé Generator PRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowmatic-expose",
        "responseMode": "lastNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "n1",
      "name": "01 · Webhook Eingang",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400],
      "webhookId": "flowmatic-expose-pro-01"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 02 · PFLICHTFELDER VALIDIEREN\n// Prüft ob alle Pflichtfelder vorhanden und plausibel sind\n// ══════════════════════════════════════════════════════\n\nconst body = $input.first().json.body || $input.first().json;\nconst errors = [];\nconst warnings = [];\n\n// Pflichtfelder\nconst required = {\n  typ: 'Objekttyp',\n  angebot: 'Angebotstyp',\n  adresse: 'Adresse',\n  flaeche: 'Wohnfläche',\n  zimmer: 'Zimmer',\n  preis: 'Preis',\n  zustand: 'Zustand'\n};\n\nfor (const [key, label] of Object.entries(required)) {\n  if (!body[key] || String(body[key]).trim() === '') {\n    errors.push(`Pflichtfeld fehlt: ${label}`);\n  }\n}\n\n// Fläche plausibel?\nif (body.flaeche) {\n  const fl = parseFloat(body.flaeche);\n  if (fl < 10) errors.push('Wohnfläche zu klein (min. 10 m²)');\n  if (fl > 5000) warnings.push('Wohnfläche sehr gross — bitte prüfen');\n}\n\n// Preis plausibel?\nif (body.preis) {\n  const p = parseInt(String(body.preis).replace(/[^0-9]/g,''));\n  if (p < 100) errors.push('Preis zu niedrig — CHF-Betrag eingeben');\n  if (body.angebot === 'Verkauf' && p < 50000) warnings.push('Kaufpreis unter CHF 50.000 — bitte prüfen');\n  if (body.angebot === 'Vermietung' && p > 50000) warnings.push('Mietpreis über CHF 50.000 — bitte prüfen');\n}\n\n// Zimmeranzahl\nif (body.zimmer) {\n  const zm = parseFloat(body.zimmer);\n  if (zm > 20) warnings.push('Zimmeranzahl über 20 — bitte prüfen');\n}\n\n// Baujahr\nif (body.baujahr) {\n  const bj = parseInt(body.baujahr);\n  if (bj < 1800 || bj > 2030) errors.push('Baujahr ungültig (1800–2030)');\n}\n\nif (errors.length > 0) {\n  return [{ json: {\n    _error: true,\n    step: 'Eingabe-Validierung',\n    error: errors.join(' | '),\n    warnings\n  }}];\n}\n\nreturn [{ json: {\n  _error: false,\n  body,\n  warnings,\n  validatedAt: new Date().toISOString()\n}}];"
      },
      "id": "n2",
      "name": "02 · Pflichtfelder validieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 03 · BILDER VALIDIEREN\n// Prüft Anzahl, Typ, Grösse und Base64-Integrität\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst body = input.body;\nconst bilder = Array.isArray(body.bilder) ? body.bilder : [];\nconst errors = [];\nconst warnings = [];\nconst validBilder = [];\n\nconst MAX_BILDER = 10;\nconst VALID_TYPES = ['image/jpeg', 'image/png', 'image/webp'];\n\n// Anzahl\nif (bilder.length === 0) {\n  warnings.push('Keine Bilder hochgeladen — Exposé ohne Bildbeschreibungen');\n}\nif (bilder.length > MAX_BILDER) {\n  warnings.push(`Nur die ersten ${MAX_BILDER} Bilder werden verarbeitet`);\n}\n\n// Jedes Bild prüfen\nfor (let i = 0; i < Math.min(bilder.length, MAX_BILDER); i++) {\n  const b = bilder[i];\n  const bErrors = [];\n\n  // Typ prüfen\n  if (!b.type || !VALID_TYPES.includes(b.type)) {\n    bErrors.push(`Ungültiger Bildtyp: ${b.type || 'unbekannt'}`);\n  }\n\n  // Base64 vorhanden?\n  if (!b.data || b.data.length < 100) {\n    bErrors.push('Bilddaten fehlen oder zu klein');\n  }\n\n  // Base64 Syntax prüfen\n  if (b.data) {\n    const validB64 = /^[A-Za-z0-9+/]+=*$/.test(b.data.replace(/\\s/g,''));\n    if (!validB64) bErrors.push('Base64-Daten beschädigt');\n  }\n\n  // Geschätzte Grösse (Base64 → Bytes)\n  if (b.data) {\n    const estBytes = Math.round(b.data.length * 0.75);\n    const estMB = (estBytes / 1024 / 1024).toFixed(1);\n    if (estBytes > 5 * 1024 * 1024) {\n      bErrors.push(`Bild ${i+1} zu gross (ca. ${estMB} MB)`);\n    }\n  }\n\n  if (bErrors.length > 0) {\n    errors.push(...bErrors);\n  } else {\n    validBilder.push({\n      ...b,\n      index: i,\n      label: b.label || (i === 0 ? 'Hauptbild' : `Bild ${i+1}`),\n      mediaType: b.type\n    });\n  }\n}\n\nif (errors.length > 0) {\n  return [{ json: {\n    _error: true,\n    step: 'Bild-Validierung',\n    error: errors.join(' | '),\n    warnings\n  }}];\n}\n\nreturn [{ json: {\n  ...input,\n  validBilder,\n  bildAnzahl: validBilder.length,\n  bildWarnings: warnings,\n  bilderValidatedAt: new Date().toISOString()\n}}];"
      },
      "id": "n3",
      "name": "03 · Bilder validieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 04 · DATEN ANREICHERN\n// Normalisiert, formatiert und ergänzt alle Felder\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst body = input.body;\n\n// Preis formatieren\nconst preisRaw = parseInt(String(body.preis).replace(/[^0-9]/g,''));\nconst preisFormatiert = new Intl.NumberFormat('de-CH').format(preisRaw);\nconst preisLabel = body.angebot === 'Vermietung' ? 'Mietzins' : 'Kaufpreis';\n\n// Zimmer-Label\nconst zimmerLabel = body.zimmer === '6+' ? '6 und mehr Zimmer' : `${body.zimmer}-Zimmer`;\n\n// Adresse aufbereiten\nconst adresseParts = String(body.adresse).split(',').map(s => s.trim());\nconst strasseNr = adresseParts[0] || body.adresse;\nconst ortPLZ = adresseParts.slice(1).join(', ');\n\n// Kanton-Vollname\nconst kantone = {\n  ZH:'Zürich',ZG:'Zug',BS:'Basel-Stadt',GE:'Genf',BE:'Bern',\n  LU:'Luzern',AG:'Aargau',SZ:'Schwyz',NW:'Nidwalden',OW:'Obwalden',\n  UR:'Uri',GL:'Glarus',AR:'Appenzell Ausserrhoden',AI:'Appenzell Innerrhoden',\n  SG:'St. Gallen',GR:'Graubünden',TG:'Thurgau',SH:'Schaffhausen',\n  TI:'Tessin',VD:'Waadt',VS:'Wallis',FR:'Freiburg',NE:'Neuenburg',\n  JU:'Jura',SO:'Solothurn',BL:'Basel-Landschaft'\n};\nconst kantonName = kantone[body.kanton] || body.kanton || '';\n\n// Merkmale aufbereiten\nconst merkmale = Array.isArray(body.merkmale) ? body.merkmale : [];\nconst merkmaleTxt = merkmale.length > 0 ? merkmale.join(', ') : 'keine besonderen Merkmale angegeben';\n\n// Alter berechnen\nlet objektAlter = '';\nif (body.baujahr) {\n  const alter = 2025 - parseInt(body.baujahr);\n  objektAlter = alter <= 0 ? 'Neubau' : alter <= 5 ? 'nahezu neu' : `${alter} Jahre alt`;\n}\n\n// Renovations-Info\nlet renovationsInfo = '';\nif (body.renovation && body.baujahr) {\n  const jahreSeitReno = 2025 - parseInt(body.renovation);\n  renovationsInfo = jahreSeitReno === 0 ? 'frisch renoviert' :\n    jahreSeitReno <= 3 ? 'kürzlich renoviert' :\n    jahreSeitReno <= 10 ? `vor ${jahreSeitReno} Jahren renoviert` :\n    `Renovation ${body.renovation}`;\n}\n\nreturn [{ json: {\n  ...input,\n  enriched: {\n    preisRaw, preisFormatiert, preisLabel,\n    zimmerLabel, strasseNr, ortPLZ, kantonName,\n    merkmaleTxt, objektAlter, renovationsInfo,\n    adresseVoll: `${body.adresse}${kantonName ? ', ' + kantonName : ''}`\n  },\n  enrichedAt: new Date().toISOString()\n}}];"
      },
      "id": "n4",
      "name": "04 · Daten anreichern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 05 · SYSTEM PROMPT AUFBAUEN\n// Personalisiert den System Prompt für dieses Objekt\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst body = input.body;\nconst e = input.enriched;\n\n// Stil-Anweisungen je nach Ton\nconst stilAnweisung = {\n  'Professionell': 'Sachlich, präzise, seriös. Fakten stehen im Vordergrund. Keine Superlative.',\n  'Emotional': 'Wärmend, einladend, Gefühle ansprechen. Lässt den Leser sich vorstellen, dort zu wohnen.',\n  'Premium': 'Exklusiv, distinguiert, zurückhaltend luxuriös. Für anspruchsvolle Käufer.',\n  'Familiär': 'Herzlich, einladend, praktisch orientiert. Alltag und Zusammenleben betonen.'\n};\nconst stil = stilAnweisung[body.ton] || stilAnweisung['Professionell'];\n\n// Zielgruppen-Fokus\nconst zielgruppenFokus = {\n  'Familien': 'Betone Schulen, Garten, Kinderzimmer, Sicherheit, Gemeinschaft.',\n  'Paare / Singles': 'Betone Lage, Lifestyle, moderne Küche, Erreichbarkeit, Ausgehen.',\n  'Investoren': 'Betone Rendite-Potenzial, Lage-Entwicklung, Mietpreise, Substanz.',\n  'Keine Vorgabe': 'Keine spezifische Zielgruppe — breite Ansprache.'\n};\nconst zielFokus = zielgruppenFokus[body.zielgruppe] || zielgruppenFokus['Keine Vorgabe'];\n\nconst systemPrompt = `Du bist der beste Immobilien-Texter der Schweiz.\nDu hast 20 Jahre Erfahrung und hast schon tausende Exposés für Liegenschaften im Wert von über 2 Milliarden CHF geschrieben.\n\nDEINE GRUNDSÄTZE:\n- Nur Schweizer Hochdeutsch\n- Keine Klischees («einzigartiges Schmuckstück», «traumhafte Lage»)\n- Keine leeren Versprechen\n- Keine Adjektiv-Stapelungen\n- Bilder präzise analysieren, Details natürlich einweben\n- Jeder Satz muss einen Mehrwert liefern\n\nSTIL FÜR DIESES EXPOSÉ: ${stil}\nZIELGRUPPE: ${zielFokus}\n\nOBJEKT-KONTEXT:\n- ${e.zimmerLabel}-${body.typ} in ${e.adresseVoll}\n- ${body.angebot} für CHF ${e.preisFormatiert}\n- ${body.flaeche} m² | ${body.zustand}\n${e.objektAlter ? `- Alter: ${e.objektAlter}` : ''}\n${e.renovationsInfo ? `- Renovation: ${e.renovationsInfo}` : ''}\n\nAUFBAU VOLLSTÄNDIGES EXPOSÉ (500–700 Wörter):\n1. Emotionaler Einstieg (2–3 Sätze) — Stimmung, nicht Fakten\n2. Objekt-Beschreibung — Räume, Flächen, Qualität\n3. Ausstattung & Merkmale — präzise, keine Listen\n4. Lage & Umgebung — konkret, mit Distanzen\n5. Abschluss — subtiler Call-to-Action\n\nAUFBAU PORTAL-VERSION (max. 1800 Zeichen):\n- Erste Zeile: Kerninfo (Typ, Zimmer, Fläche, Ort)\n- Dann: 3–4 kurze Absätze\n- Alle Pflichtinfos: Fläche, Zimmer, Preis, Lage\n- Kein Fülltext, jedes Wort zählt\n\nGib exakt diese zwei Blöcke aus:\n===VOLLSTAENDIG===\n[500-700 Wörter]\n===PORTAL===\n[max. 1800 Zeichen]`;\n\nreturn [{ json: {\n  ...input,\n  systemPrompt,\n  systemPromptBuiltAt: new Date().toISOString()\n}}];"
      },
      "id": "n5",
      "name": "05 · System Prompt aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 06 · USER PROMPT AUFBAUEN\n// Baut den detaillierten Objekt-Prompt für Claude\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst body = input.body;\nconst e = input.enriched;\nconst bilder = input.validBilder || [];\n\n// Bild-Labels für Prompt\nconst bildInfo = bilder.length > 0\n  ? `${bilder.length} Bild${bilder.length > 1 ? 'er' : ''} beigefügt:\\n` +\n    bilder.map((b,i) => `  · Bild ${i+1}: ${b.label}`).join('\\n')\n  : 'Keine Bilder vorhanden — Exposé ohne Bildreferenzen erstellen';\n\n// Preis-Info\nconst nkInfo = body.nk\n  ? `CHF ${Number(String(body.nk).replace(/[^0-9]/g,'')).toLocaleString('de-CH')} / Monat Nebenkosten`\n  : 'nicht angegeben';\n\nconst userPrompt = `AUFGABE: Professionelles Immobilien-Exposé erstellen\n\n═══ OBJEKT-GRUNDDATEN ═══\nTyp:              ${body.typ}\nAngebotsart:      ${body.angebot}\nAdresse:          ${e.adresseVoll}\nWohnfläche:       ${body.flaeche} m²\nAnzahl Zimmer:    ${body.zimmer}\nStockwerk:        ${body.stockwerk || 'nicht angegeben'}\nBaujahr:          ${body.baujahr || 'nicht angegeben'}${e.objektAlter ? ' (' + e.objektAlter + ')' : ''}\nLetzte Renovation:${body.renovation || 'nicht angegeben'}${e.renovationsInfo ? ' (' + e.renovationsInfo + ')' : ''}\n${e.preisLabel}: CHF ${e.preisFormatiert}\nNebenkosten:      ${nkInfo}\n\n═══ AUSSTATTUNG & ZUSTAND ═══\nZustand:          ${body.zustand}\nHeizungsart:      ${body.heizung || 'nicht angegeben'}\nParkierung:       ${body.parkierung || 'keine'}\nMerkmale:         ${e.merkmaleTxt}\nWeitere Details:  ${body.weiteres || 'keine zusätzlichen Angaben'}\n\n═══ LAGE & INFRASTRUKTUR ═══\nUmgebung/Quartier:${body.umgebung || 'nicht angegeben'}\nÖffentlicher Verkehr: ${body.oev || 'nicht angegeben'}\nEinkauf & Schulen:${body.schule || 'nicht angegeben'}\n\n═══ BILDER ═══\n${bildInfo}\n\n═══ AUSGABE-VORGABEN ═══\nTon:              ${body.ton || 'Professionell'}\nZielgruppe:       ${body.zielgruppe || 'Keine Vorgabe'}\n\nBitte analysiere zuerst die beigefügten Bilder und integriere konkrete visuelle Details natürlich in beide Texte.\nDann erstelle die zwei Versionen exakt wie im System Prompt vorgegeben.`;\n\nreturn [{ json: {\n  ...input,\n  userPrompt,\n  userPromptBuiltAt: new Date().toISOString()\n}}];"
      },
      "id": "n6",
      "name": "06 · User Prompt aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 07 · CLAUDE MESSAGE BAUEN\n// Kombiniert Bilder + Text zu Claude API Format\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst bilder = input.validBilder || [];\nconst userPrompt = input.userPrompt;\n\n// Content-Array: Bilder zuerst, dann Text\nconst content = [];\n\n// Bilder als Vision-Blocks\nfor (const bild of bilder) {\n  // Bild-Block\n  content.push({\n    type: 'image',\n    source: {\n      type: 'base64',\n      media_type: bild.mediaType || 'image/jpeg',\n      data: bild.data\n    }\n  });\n  // Label direkt nach Bild\n  content.push({\n    type: 'text',\n    text: `↑ ${bild.label} (Bild ${bild.index + 1} von ${bilder.length})`\n  });\n}\n\n// Haupt-Prompt\ncontent.push({ type: 'text', text: userPrompt });\n\n// API Body\nconst apiBody = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 3000,\n  system: input.systemPrompt,\n  messages: [{ role: 'user', content }]\n};\n\nreturn [{ json: {\n  ...input,\n  apiBody,\n  messageBuiltAt: new Date().toISOString()\n}}];"
      },
      "id": "n7",
      "name": "07 · Claude Message bauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CLAUDE_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": { "timeout": 90000 }
      },
      "id": "n8",
      "name": "08 · Claude API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 09 · API ANTWORT PRÜFEN\n// Prüft ob Claude geantwortet hat und extrahiert Text\n// ══════════════════════════════════════════════════════\n\nconst claudeResp = $input.first().json;\n\n// HTTP-Fehler\nif (claudeResp.error) {\n  const code = claudeResp.error.type || 'unknown';\n  const msg = claudeResp.error.message || 'Unbekannter API-Fehler';\n  const deutlich = {\n    'authentication_error': 'Ungültiger API Key. Bitte CLAUDE_API_KEY in n8n prüfen.',\n    'permission_error': 'Keine Berechtigung. API Key hat keine Zugriffsberechtigung.',\n    'rate_limit_error': 'API Rate Limit erreicht. Bitte 1 Minute warten und erneut versuchen.',\n    'overloaded_error': 'Claude ist überlastet. Bitte in 30 Sekunden erneut versuchen.'\n  };\n  return [{ json: {\n    _error: true,\n    step: 'Claude API',\n    error: deutlich[code] || `API Fehler: ${msg}`\n  }}];\n}\n\n// Antwort-Text\nlet rawText = '';\ntry {\n  rawText = claudeResp.content?.[0]?.text || '';\n} catch(e) {\n  return [{ json: { _error: true, step: 'API Antwort', error: 'Antwort-Format unbekannt' }}];\n}\n\nif (!rawText || rawText.length < 100) {\n  return [{ json: { _error: true, step: 'API Antwort', error: 'Claude hat keinen verwertbaren Text zurückgegeben' }}];\n}\n\nreturn [{ json: {\n  rawText,\n  usage: claudeResp.usage || {},\n  model: claudeResp.model || 'claude-sonnet-4-6',\n  apiCheckedAt: new Date().toISOString()\n}}];"
      },
      "id": "n9",
      "name": "09 · API Antwort prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1860, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 10 · VERSIONEN EXTRAHIEREN\n// Parst ===VOLLSTAENDIG=== und ===PORTAL=== aus dem Text\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst raw = input.rawText;\n\nfunction extract(text, startMarker, endMarker) {\n  const si = text.indexOf(startMarker);\n  if (si === -1) return null;\n  const after = text.slice(si + startMarker.length);\n  if (!endMarker) return after.trim();\n  const ei = after.indexOf(endMarker);\n  return ei === -1 ? after.trim() : after.slice(0, ei).trim();\n}\n\nlet vollstaendig = extract(raw, '===VOLLSTAENDIG===', '===PORTAL===');\nlet portal = extract(raw, '===PORTAL===', null);\n\n// Fallback: Varianten des Markers\nif (!vollstaendig) {\n  vollstaendig = extract(raw, '=== VOLLSTÄNDIGES EXPOSÉ ===', '=== PORTAL') ||\n                 extract(raw, 'VOLLSTÄNDIGES EXPOSÉ', 'PORTAL');\n}\nif (!portal) {\n  portal = extract(raw, 'PORTAL-VERSION', null) ||\n            extract(raw, 'PORTAL VERSION', null);\n}\n\n// Letzter Fallback: ganzer Text\nif (!vollstaendig && !portal) {\n  vollstaendig = raw.trim();\n  portal = raw.trim();\n}\n\nif (!vollstaendig) vollstaendig = raw.trim();\nif (!portal) portal = vollstaendig.slice(0, 1800);\n\nreturn [{ json: {\n  ...input,\n  vollstaendig,\n  portal,\n  extractedAt: new Date().toISOString()\n}}];"
      },
      "id": "n10",
      "name": "10 · Versionen extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 11 · VOLLSTÄNDIGES EXPOSÉ PRÜFEN\n// Wortanzahl, Struktur, Qualitäts-Check\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst text = input.vollstaendig;\nconst warnings = [];\n\n// Wortanzahl\nconst worte = text.trim().split(/\\s+/).filter(w => w.length > 0).length;\nconst zeichen = text.length;\n\n// Zu kurz?\nif (worte < 200) warnings.push(`Vollständiges Exposé sehr kurz (${worte} Wörter, Ziel: 500–700)`);\nif (worte > 900) warnings.push(`Vollständiges Exposé sehr lang (${worte} Wörter, Ziel: 500–700)`);\n\n// Verbotene Klischees prüfen\nconst klischees = [\n  'einzigartiges Schmuckstück', 'Traumlage', 'traumhaft', 'einzigartig',\n  'unverbaubar', 'absolut ruhig', 'perfekt gelegen', 'ideale Lage'\n];\nconst gefundeneKlischees = klischees.filter(k => text.toLowerCase().includes(k.toLowerCase()));\nif (gefundeneKlischees.length > 0) {\n  warnings.push(`Klischee-Begriffe gefunden: ${gefundeneKlischees.join(', ')}`);\n}\n\n// Pflicht-Infos vorhanden?\nconst checkPflicht = (field, label) => {\n  if (!text.toLowerCase().includes(field.toLowerCase())) {\n    warnings.push(`«${label}» nicht im Exposé erwähnt`);\n  }\n};\n\n// Prüfe ob Ort erwähnt\n// (nur warnen, nicht abbrechen)\n\nreturn [{ json: {\n  ...input,\n  qcVollstaendig: {\n    worte,\n    zeichen,\n    warnings,\n    ok: warnings.length === 0\n  },\n  qcVollstaendigAt: new Date().toISOString()\n}}];"
      },
      "id": "n11",
      "name": "11 · Vollständiges Exposé prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 12 · PORTAL-VERSION PRÜFEN\n// Zeichenlimit, Pflichtfelder, Struktur\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nlet portal = input.portal;\nconst warnings = [];\nlet trimmed = false;\n\n// Zeichenlimit 1800 hart durchsetzen\nif (portal.length > 1800) {\n  // Sauber auf Satzende schneiden\n  let cut = portal.slice(0, 1780);\n  const lastDot = Math.max(\n    cut.lastIndexOf('.'),\n    cut.lastIndexOf('!'),\n    cut.lastIndexOf('?')\n  );\n  portal = lastDot > 1600 ? cut.slice(0, lastDot + 1) : cut.trim() + '...';\n  trimmed = true;\n  warnings.push(`Portal-Version wurde auf ${portal.length} Zeichen gekürzt`);\n}\n\n// Zu kurz?\nif (portal.length < 300) {\n  warnings.push(`Portal-Version sehr kurz (${portal.length} Zeichen)`);\n}\n\n// Prüfe Pflicht-Angaben für Portale\nconst pflicht = [\n  ['m²', 'Fläche in m²'],\n  ['CHF', 'Preis in CHF'],\n];\nfor (const [term, label] of pflicht) {\n  if (!portal.includes(term)) {\n    warnings.push(`${label} fehlt in Portal-Version`);\n  }\n}\n\nreturn [{ json: {\n  ...input,\n  portal,\n  qcPortal: {\n    zeichen: portal.length,\n    limit: 1800,\n    trimmed,\n    warnings,\n    ok: !trimmed && warnings.length === 0\n  },\n  qcPortalAt: new Date().toISOString()\n}}];"
      },
      "id": "n12",
      "name": "12 · Portal-Version prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 500]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 13 · ERGEBNISSE ZUSAMMENFÜHREN\n// Wartet auf beide QC-Nodes und fügt zusammen\n// ══════════════════════════════════════════════════════\n\n// Wir nehmen hier einfach den letzten Input (sequentiell)\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\n// Alle Warnings sammeln\nconst allWarnings = [\n  ...(input.warnings || []),\n  ...(input.bildWarnings || []),\n  ...(input.qcVollstaendig?.warnings || []),\n  ...(input.qcPortal?.warnings || [])\n].filter(Boolean);\n\nreturn [{ json: {\n  ...input,\n  allWarnings,\n  mergedAt: new Date().toISOString()\n}}];"
      },
      "id": "n13",
      "name": "13 · Ergebnisse zusammenführen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2520, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 14 · FINAL QC — GESAMTPRÜFUNG\n// Letzter Check bevor die Antwort gesendet wird\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst v = input.vollstaendig || '';\nconst p = input.portal || '';\nconst body = input.body || {};\nconst e = input.enriched || {};\nconst criticalErrors = [];\n\n// Vollständiges Exposé nicht leer\nif (v.length < 50) criticalErrors.push('Vollständiges Exposé fehlt oder zu kurz');\n\n// Portal nicht leer\nif (p.length < 50) criticalErrors.push('Portal-Version fehlt oder zu kurz');\n\n// Portal-Limit\nif (p.length > 1800) criticalErrors.push(`Portal überschreitet Zeichenlimit (${p.length}/1800)`);\n\n// Adresse im Vollexposé vorhanden?\nconst ortParts = (body.adresse || '').split(',').map(s => s.trim());\nconst ortGefunden = ortParts.some(part => part.length > 2 && v.includes(part));\nif (!ortGefunden && body.adresse) {\n  // Kein kritischer Fehler, nur Hinweis\n}\n\nif (criticalErrors.length > 0) {\n  return [{ json: {\n    _error: true,\n    step: 'Final QC',\n    error: criticalErrors.join(' | ')\n  }}];\n}\n\nreturn [{ json: {\n  ...input,\n  finalQcPassed: true,\n  finalQcAt: new Date().toISOString()\n}}];"
      },
      "id": "n14",
      "name": "14 · Final QC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2740, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 15 · RESPONSE FORMATIEREN\n// Baut die finale JSON-Antwort für das HTML-Tool\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nif (input._error) return [{ json: input }];\n\nconst e = input.enriched || {};\nconst body = input.body || {};\n\n// Objekt-Zusammenfassung\nconst zusammenfassung = [\n  body.zimmer ? `${body.zimmer}-Zimmer-${body.typ}` : body.typ,\n  body.flaeche ? `${body.flaeche} m²` : null,\n  e.adresseVoll || body.adresse,\n  e.preisFormatiert ? `CHF ${e.preisFormatiert}` : null\n].filter(Boolean).join(' · ');\n\nreturn [{ json: {\n  success: true,\n  vollstaendig: input.vollstaendig,\n  portal: input.portal,\n  meta: {\n    zusammenfassung,\n    bildAnzahl: input.bildAnzahl || 0,\n    worteVollstaendig: input.qcVollstaendig?.worte || 0,\n    zeichenVollstaendig: input.qcVollstaendig?.zeichen || 0,\n    zeichenPortal: input.qcPortal?.zeichen || 0,\n    model: input.model || 'claude-sonnet-4-6',\n    tokensUsed: input.usage?.output_tokens || 0,\n    generatedAt: new Date().toISOString()\n  },\n  warnings: input.allWarnings || []\n}}];"
      },
      "id": "n15",
      "name": "15 · Response formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2960, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "n16",
      "name": "16 · Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3180, 400]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 17 · FEHLER-HANDLER (Claude API)\n// Fängt HTTP-Fehler vom API-Call ab\n// ══════════════════════════════════════════════════════\n\nconst err = $input.first().json;\nconst errMsg = err?.message || err?.error?.message || JSON.stringify(err).slice(0,200);\n\nconst userMessages = {\n  '401': 'Ungültiger API Key. Bitte CLAUDE_API_KEY in n8n > Settings > Environment Variables prüfen.',\n  '403': 'Zugriff verweigert. API Key hat keine Berechtigungen.',\n  '429': 'Zu viele Anfragen. Bitte 60 Sekunden warten und erneut versuchen.',\n  '529': 'Claude API überlastet. Bitte 30 Sekunden warten.',\n  '500': 'Claude API interner Fehler. Bitte erneut versuchen.',\n  '503': 'Claude API vorübergehend nicht erreichbar.'\n};\n\nconst code = String(err?.statusCode || '');\nconst message = userMessages[code] || `Verbindungsfehler zur Claude API: ${errMsg}`;\n\nreturn [{ json: {\n  success: false,\n  error: message,\n  errorCode: code,\n  errorAt: new Date().toISOString()\n}}];"
      },
      "id": "n17",
      "name": "17 · Fehler-Handler API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1860, 620]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════\n// NODE 18 · FEHLER-RESPONSE\n// Sendet Fehlermeldung auf Deutsch zurück ans Tool\n// ══════════════════════════════════════════════════════\n\nconst input = $input.first().json;\n\n// Fehler-Objekte normalisieren\nconst errorMsg = input.error || input._error && 'Unbekannter Fehler' || 'Fehler';\nconst step = input.step || 'Verarbeitung';\n\nreturn [{ json: {\n  success: false,\n  error: typeof errorMsg === 'string' ? errorMsg : JSON.stringify(errorMsg),\n  step,\n  errorAt: new Date().toISOString()\n}}];"
      },
      "id": "n18",
      "name": "18 · Fehler-Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2960, 620]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n19",
      "name": "19 · Fehler-Weiche",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2740, 600]
    }
  ],
  "connections": {
    "01 · Webhook Eingang": {
      "main": [[{ "node": "02 · Pflichtfelder validieren", "type": "main", "index": 0 }]]
    },
    "02 · Pflichtfelder validieren": {
      "main": [[{ "node": "03 · Bilder validieren", "type": "main", "index": 0 }]]
    },
    "03 · Bilder validieren": {
      "main": [[{ "node": "04 · Daten anreichern", "type": "main", "index": 0 }]]
    },
    "04 · Daten anreichern": {
      "main": [[{ "node": "05 · System Prompt aufbauen", "type": "main", "index": 0 }]]
    },
    "05 · System Prompt aufbauen": {
      "main": [[{ "node": "06 · User Prompt aufbauen", "type": "main", "index": 0 }]]
    },
    "06 · User Prompt aufbauen": {
      "main": [[{ "node": "07 · Claude Message bauen", "type": "main", "index": 0 }]]
    },
    "07 · Claude Message bauen": {
      "main": [[{ "node": "08 · Claude API Call", "type": "main", "index": 0 }]]
    },
    "08 · Claude API Call": {
      "main": [[{ "node": "09 · API Antwort prüfen", "type": "main", "index": 0 }]],
      "error": [[{ "node": "17 · Fehler-Handler API", "type": "main", "index": 0 }]]
    },
    "09 · API Antwort prüfen": {
      "main": [[{ "node": "10 · Versionen extrahieren", "type": "main", "index": 0 }]]
    },
    "10 · Versionen extrahieren": {
      "main": [
        [{ "node": "11 · Vollständiges Exposé prüfen", "type": "main", "index": 0 }],
        [{ "node": "12 · Portal-Version prüfen", "type": "main", "index": 0 }]
      ]
    },
    "11 · Vollständiges Exposé prüfen": {
      "main": [[{ "node": "13 · Ergebnisse zusammenführen", "type": "main", "index": 0 }]]
    },
    "12 · Portal-Version prüfen": {
      "main": [[{ "node": "13 · Ergebnisse zusammenführen", "type": "main", "index": 0 }]]
    },
    "13 · Ergebnisse zusammenführen": {
      "main": [[{ "node": "14 · Final QC", "type": "main", "index": 0 }]]
    },
    "14 · Final QC": {
      "main": [[{ "node": "19 · Fehler-Weiche", "type": "main", "index": 0 }]]
    },
    "19 · Fehler-Weiche": {
      "main": [
        [{ "node": "18 · Fehler-Response", "type": "main", "index": 0 }],
        [{ "node": "15 · Response formatieren", "type": "main", "index": 0 }]
      ]
    },
    "15 · Response formatieren": {
      "main": [[{ "node": "16 · Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "17 · Fehler-Handler API": {
      "main": [[{ "node": "18 · Fehler-Response", "type": "main", "index": 0 }]]
    },
    "18 · Fehler-Response": {
      "main": [[{ "node": "16 · Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "tags": [{ "name": "Flowmatic" }],
  "versionId": "flowmatic-expose-pro-v2"
}
